###################################################################
# Script Name   : .my_env
# Script version: 100.17
# Script date   : 2022-02-12
# Description   : My project / environment specifics
# Args          : <none>
# Author        : Toomas Mölder
# Email         : toomas.molder+my_env@gmail.com
###################################################################
##
## Usage: source .my_env
##
#
# General
# Used in .my_bash_profile
if command -v hostname &> /dev/null; then
  unset HOST
  HOST=$(hostname --short)
  # echo "HOST: ${HOST}"
  export HOST
else
  echo "WARNING: command 'hostname' not available" 
fi

# Naming convention of my project hosts is "${PROJECT}-${APP}-${NUMBER}.${HOST}.${ENV}.${TLD}"
# If you have smth else, please specify below
unset ENV TLD PROJECT
if command -v dnsdomainname &> /dev/null; then
  ENV=$(dnsdomainname | /usr/bin/cut --delimiter="." --fields=1)
  TLD=$(dnsdomainname | /bin/sed --expression="s/${ENV}\.//")
  PROJECT=${HOST%-*}
  # echo "ENV: ${ENV}"
  # echo "TLD: ${TLD}"
  # echo "PROJECT: ${PROJECT}"
  export ENV TLD PROJECT
else
  echo "WARNING: command 'dnsdomainname' not available" 
fi

# Exclude some users to be listed in 'last'
# EXCLUDE_FROM_LAST="root" # Sample
EXCLUDE_FROM_LAST=""
# echo "EXCLUDE_FROM_LAST: ${EXCLUDE_FROM_LAST}"
export EXCLUDE_FROM_LAST

#
# Set PROJECT hosts, used in ~/bin/distribute.sh
#
HOSTS="" # Sample
# HOSTS=("${PROJECT}-build-01.${TLD}" "${PROJECT}-db-01.${TLD}" "${PROJECT}-app-01.${TLD}" "${PROJECT}-www-01.${TLD}" "${PROJECT}-www-02.${TLD}" "${PROJECT}-search-01.${TLD}" "${PROJECT}-feedback-01.${TLD}" "${PROJECT}-logs-01.${TLD}")
# echo "HOSTS: ${HOSTS}"
export HOSTS

#
# Set MY_SERVICES, pipe-delimited list of services I want to check regularly during login or scripts
# Used in .my_bash_aliases
#
MY_SERVICES="" # Sample
# MY_SERVICES="nginx.service|apache2.service|mariadb.service|elasticsearch.service|logstash.service|kibana.service|php7.4-fpm.service"

# echo "MY_SERVICES: ${MY_SERVICES}"
export MY_SERVICES